{
  "kvStore": {
    "access_token": "super-secure-token-from-matrix",
    "homeserver_url": "https://matrix.org",
    "coffee_room_id": "!PwxllucQTuEfovmCCd:matrix.org",
    "url_prefix": "/coffeebot"
  }
}