body {
    background-color: black;
    color: lightgray;
    font-family: sans-serif;
    text-align: center;
    color: #FFF5EE;
}

h1 {
    font-size: 4em;
}

#coffee_status {
    font-family: monospace;
    font-size: 5em;
    line-height: 2.5em;
    vertical-align: middle;
}

#buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#buttons #space {
    display: inline-block;
    width: 3em;
}

#client_status {
    font-family: monospace;
    font-size: 2em;
    line-height: 2em;
    padding-top: 1em;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    background-color: #6F4E37;
    border-radius: 1em;
    width: 6em;
    line-height: 3em;
    text-align: center;
    vertical-align: middle;
    font-size: 3em;
    text-decoration: none;
    color: #FFF5EE;
}

.btn:hover {
    background-color: #835C3B;
}

#main {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-60%);
    width: 80%;
}

#footer {
    bottom: 0%;
    position: fixed;
    width: 100%;
    text-align: center;
}

#fullscreen {
    color: #603601;
}