body {
    background-color: black;
    color: lightgray;
    font-family: sans-serif;
    text-align: center;
    color: #FFF5EE;
}

#status {
    font-family: monospace;
    font-size: 3em;
    line-height: 2em;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    background-color: #6F4E37;
    border-radius: 0.5em;
    width: 5em;
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
    text-decoration: none;
    color: #FFF5EE;
}

.btn:hover {
    background-color: #835C3B;
}